<script>
    var coords = {{{coordsString}}};
    var routes = {{{routesString}}};
</script>

<header>

    <h1 class="title">FliteMapper</h1>

    <div class="dest-dropdown">
        <p>Choose your destination (from PDX): </p>
        <select class="dest-list">
            {{#each routes}}
                {{> listOption}}
            {{/each}}
        </select>
    </div>

</header>

{{> map}}
