<!-- Everything in the header should be inline-->
<header>

    <h1 class="title">FliteMapper</h1>

    <div class="dest-dropdown">
        <p>Choose your destination: </p>
        <select class="dest-list">
            {{#each airports}}
                {{> listItem}}
            {{/each}}
        </select>
    </div>

    <div class="dest-search">
        <input class="search-box"></input>
        <button class="search-button">Search</button>
    </div>

</header>

{{> map}}
