/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  width: 90%;
  height: 75%;
  margin: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  padding: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, blue, white);
}

header {
  display: inline-block;
}

.title {
  font-family: 'Lobster', cursive;
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 50px;
  font-size: 50px;
}

.dest-dropdown {
  position: fixed;
  display: inline-block;
  right: 0;
  top: 0;
  margin-top: 12px;
  margin-right: 100px;
  /*margin-left: 1350px;*/
}

p {
  font-family: 'Roboto';
}

.dest-item {
  background-color: DodgerBlue;
}

/* .dest-search {
  display: inline-block;
  float: right;
  margin-top: 48px;
} */

.hidden {
  display: none;
}
